version: "3.9"

networks:
  app_network:
    driver: bridge

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    networks:
      - app_network
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: chatbot_institucional
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    networks:
      - app_network
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    networks:
      - app_network
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./Backend_Agente_Inteligente
    container_name: fastapi_backend
    restart: on-failure:5
    networks:
      - app_network
    env_file:
      - ./Backend_Agente_Inteligente/.env
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      mongo:
        condition: service_started
    volumes:
      - ./Backend_Agente_Inteligente/chroma_db:/app/chroma_db
      - hf_cache:/root/.cache/huggingface

  frontend:
    build:
      context: ./FrontendCallCenterRN
    container_name: frontend_expo
    restart: on-failure:5
    networks:
      - app_network
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql_data:
  mongo_data:
  hf_cache:
